@import "normalize.css";

@font-face {
  font-family: "STIXTwo";
  src: url("./STIXTwo.woff2") format("woff2");
  font-weight: 400-700;
}

@font-face {
  font-family: "STIXTwoItalic";
  src: url("./STIXTwoItalic.woff2") format("woff2");
  font-weight: 400-700;
}

/* mobile first design */
body {
  overflow-x: hidden;
}

header {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#photoName {
}

#photo1 {
  width: 80vw;
  position: relative;
  z-index: 3; 
  margin-top: -150px; 
}

#photoLabel {
  position: relative;
  z-index: 4;
  margin-top: -115px;
  left: 10px;

  color: white;
  font-weight: 550;
  font-size: calc(90vw / 8);
  /* Top-left and bottom-right borders using negative offsets */
  text-shadow: -3px 2px 5px black; 
}

#separator {
  width: 0;
  height: 0;
  border-right: 200vw solid transparent;
  border-top: 50vw solid #006241;
  overflow-x: hidden;
}

footer {
  background-color: #005236;
  color: white;
  
  a {
    color: cyan;
  }

  a:visited {
    color: #FFC0CB;
  }
}

/* Tablet */
@media (min-width: 500px) {
  body {
    margin: 5px;
  }
  
}

/* Desktop */
@media (min-width: 1000px) {
  body {
    margin: 10px;
  }
  
}